h1
{
color: rgb(255, 0, 212);
font-size: 3em;
border: 5px rgb(255, 0, 212) solid;
text-align: center;
border-radius:12px;
box-shadow: 1px 1px 20px black;
margin-left: 300px;  /* vers la gauche */
margin-right: 300px; /* je décalle un élément vers la droite*/
}
h2
{
  text-align: center;
  color: blue;
  border: 5px black solid;
  margin-left: 400px;
  margin-right: 400px;
}

.présentation
{
  font-size: 25px;;
}


body
{
 background-image: url("background White stiled.jpg");
 background-attachment: fixed;
 padding: 100px;
}

a:hover /* apparence au survol des liens */
{
    text-decoration:underline;
    color: red;
}

a:active /* Quand le visiteur clique sur le lien */
{
  background-color: violet;
}

li{
  font-size:xx-large;
  padding-right: 1000px;
}

#Event{
  color:blue;
  border: 4px blue solid;
  border-radius: 20px;
}

#testEvent{
  color: red;
  border:4px red solid ;
  border-radius: 20px;
}
.riko{
border:5px black solid;
color: white;
font-size: x-large;
border-radius: 10px;
}

#Back{
  background-color: red;
}
#Next{
  background-color: blue;
}




